.app {
     /* Add app styles here */
}

.field-label {
    font-weight: bold;
}

.x-form-empty-field {
    font-style: italic;
}

.enlarged-number {
    font-size: 5.0em;
    font-family: arial, sans-serif;
    margin: 20px 20px 20px 20px;
}

.headline {
    font-size: 3.0em;
    font-family: arial, sans-serif;
    margin: 20px 10px 20px 10px;
}

.content {
    font-size: 1.5em;
    margin: 10px;
}
